# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Local data (optional)
postgres_data/

cmds.txt
